*.pdb
DistributedClient/bin/
DistributedClient/obj/
DistributedClientDll/bin/
DistributedClientDll/obj/
DistributedServer/bin/
DistributedServer/obj/
DistributedServerDll/bin/
DistributedServerDll/obj/
DistributedShared/bin/
DistributedShared/obj/
_ReSharper.DistributedSystemImpl/
packages/
DistributedSystemImpl.suo
